.card {
    margin-bottom: 1rem;
 }

 .card-title{
    padding-left: 1rem;
    padding-top: 1rem;
 }
 
 .list-view {
   .row {
     > [class*='col-'] {
       max-width: 100%;
       flex: 0 0 100%;
       margin: auto;
     }
   }
   .card {
      flex-direction: column;
      width: 31rem;
      margin: auto;
      margin-bottom: 1rem;

     flex-direction: column;
     > .card-img-top {
      width: 495px;
      margin: auto;
     }
     
     .card-body {
       display: inline-block;
       margin: auto;
     }
   }
 }